/* CartWidget Styles */
.cart-widget {
    position: relative;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin-left: 12px;
    margin-top: -14px;
  }
  
  .cart-icon {
    font-size: 30px;
    color: #333;
  }
  
 
  